.motograu-game {
  background: linear-gradient(133deg,#00000017 0%,#1c101d 50%,#462948a2 100%)!important;
}

.motograu-game .transaction-bar {
  --tw-bg-opacity: 0.20;
  --tw-border-opacity: 0.20;
}

.motograu-game .crash-form {
  --tw-bg-opacity: 0.20;
  --tw-border-opacity: 0.20;
}

.motograu-game .results-bar {
  background: linear-gradient(133deg,#00000017 0%,#1c101d 50%,#462948a2 100%)!important;
}

.motograu-game .chat-container {
  background: linear-gradient(133deg,#000000 0%,#1c101d 50%,#462948 100%)!important
 }

.motograu-navbar {
  background: linear-gradient(133deg,#100c11 0%,#1c101d 50%,#281829 100%)!important
}

@font-face {
  font-family: "lexend";
  src: url('../../assets/fonts/font-lexend/Lexend-VariableFont_wght.ttf')
}

.font-lexend {
  font-family: "lexend"
}

@font-face {
  font-family: "bungeeSpice";
  src: url('../../assets/fonts/Bungee-Spice/BungeeSpice-Regular.ttf')
}

.font-bungeeSpice {
  font-family: "bungeeSpice"
}